<li>
    <div class="card mb-3 shadow p-3 mb-5 bg-body rounded" style="width: 1080px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="http://localhost:3000/static/img/house.webp" class="img-fluid rounded" alt="...">
            </div>
            <div class="col-md-8 card-content">
                <div class="card-body">
                    <h5 class="card-title"><%=hotel.title%></h5>
                    <p class="card-text"><%=hotel.description%></p>
                </div>
                <%if(hotel.danger){%>
                    <button class="btn btn-danger card-btn" 
                        data-bs-toggle="modal" 
                        data-bs-target="#modal<%=hotel.homeIndex%>">
                        코로나 발생지역입니다.
                    </button>
                    <div class="modal fade" id="modal<%=hotel.homeIndex%>" tabindex="-1" 
                        aria-labelledby="exampleModalLabel" 
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">위험지역입니다!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                코로나 발생근처지역입니다.
                                그래도 예약하시겠습니까?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                <a type="button" class="btn btn-primary" href="/hotel/<%=hotel.homeIndex%>">둘러보기</a>
                            </div>
                            </div>
                        </div>
                </div>
                <%} else {%>
                    <a href="/hotel/<%=hotel.homeIndex%>" class="btn btn-primary card-btn">둘러보기</a>
                <%}%>
            </div>
        </div>
    </div>
</li>
<script>
</script>