<!doctype html>
<html lang="en">

<head>
    <%-include('head')%>
</head>

<body>
    <%-include('nav')%>
    <ul>
        <% for(let i = 0; i < rooms.length; i++){%>
            <%-include('roomcard', {
                room : rooms[i]
            })%>
        <%}%>
    </ul>
    <div class="comment-container shadow p-3 mb-5 bg-body rounded" style="width: 720px;">
        <div class="comment-contents">
            <% for(let i = 0; i < home.comments.length; i++){%>
                <div class="card comment-card">
                    <h5 class="card-header"><%=home.comments[i].uid%></h5>
                    <div class="card-body">
                        <p class="card-text"><%=home.comments[i].value%></p>
                        <button onclick="deleteComment(this)" id=<%=home.comments[i]._id%> class="btn btn-danger">삭제</a>
                    </div>
                </div>
            <%}%>
        </div>
        <div class="comment-input-container">
            <input class="comment-input form-control">
            <button class="comment-btn btn btn-primary" onclick="addComment()">댓글 달기</button>
        </div>
    </div>
</body>

<script>
    const commentBtn = document.querySelector(".comment-btn");
    const commentInput = document.querySelector(".comment-input");
    function addComment(){
        if(commentInput.value === "")return;
        $.ajax({
            data : {
                comment : commentInput.value,
                hcid : location.pathname.split('/')[2]
            },
            url : "/comment",
            type:"POST",
            success : (data)=> {
                if(data === "OK"){
                    location.reload();
                }
            }
        }).fail(()=>{
            location.replace("/login");
        })
    }

    function deleteComment(target){
        console.log(target.id);
    }
</script>

</html>