<li>
    <div class="card mb-3 shadow p-3 mb-5 bg-body rounded" style="width:720px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="http://localhost:3000/static/img/house.webp" class="img-fluid rounded" alt="...">
            </div>
            <div class="col-md-8 card-content">
                <div class="card-body">
                    <h5 class="card-title"><%=room.title%></h5>
                    <p class="card-text"><%=room.description%></p>
                    <p class="card-text small">가격<%=room.price%></p>
                </div>
                    <% if(room.booker === undefined){ %>
                        <a href="/room/<%=room.rid%>" 
                            class="btn btn-primary card-btn" >예약
                        </a>
                    <%}else if(room.booker === user.name){%>
                        <a id="delete-reservation" 
                            class="btn btn-primary card-btn" 
                            onclick="cancleReservation('<%=room.rid%>')">예약 취소
                        </a>
                    <%} else{ %>
                        <a href="/room/<%=room.rid%>" 
                            class="btn btn-primary card-btn disabled" >예약불가
                        </a>
                    <% } %>
            </div>
        </div>
    </div>
</li>
<script>
    function cancleReservation(e){
        $.ajax({
            type:"DELETE",
            url:`/room/${e}`,
            success : (data) => {
                if(data === "OK"){
                    location.reload();
                }
            }
        })
    }
</script>
